body {
	max-width: 750px;
	margin: 5% auto;
}

li {
	display: inline;
}

#dropDowns {
	max-width: 200px;
}

#artistSelect {
	width: 80%;
}

#albumSelect {
	width: 80%;
}
#topBox {
	width: 700px;
	height: 30px;
	border: 2px solid black;
	padding: 10px;
	margin: auto;
	border-style: solid;
	background: #ACE16D;
}

#sideBox {
	box-sizing: border-box;
	border: 2px solid black;
	border-radius: 14px;
	width: 30%;
	height: 400px;
	padding: 10px;
	margin-top: 2%;
	margin-left: 12px;
	background: #72E16D;
	float: left;
}

#filterButton {
	text-align: center;
	margin: auto;
}

#theButton {
	height: 30px;
	width: 65%;
	font-size: 15pt;
}

#songContentBox {
	overflow: scroll;
	box-sizing: border-box;
	border: 2px solid black;
	border-radius: 14px;
	width: 485px;
	height: 400px;
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 10px;
	padding-bottom: 10px;
	margin-left: 2%;
	margin-top: 2%;
	float: left;
	background: #6DE1A2;
}

#addMusic {
	display: none;
}

#headList {
	margin: 0px;
	padding-top: 7px;
	list-style-type: none;
  text-decoration: none;
}

.songName {
	color: #785616;
}

#songInfo {
	padding: 0;
}

#songLength {

}

#checkLeftSide {
	float: left;
}

#checkRightSide {
	padding-left: 50%;
}
