body {
	max-width: 750px;
	margin: 5% auto;
}

li {
	display: inline;
}

a:hover {
	color: white;
	text-decoration: none;
}

#dropDowns {
	max-width: 200px;
}

#artistSelect {
	width: 65%;
}

#albumSelect {
	width: 65%;
}
#redBox {
	width: 700px;
	height: 50px;
	border: 2px solid black;
	padding: 10px;
	margin: auto;
	border-style: solid;
	background: #FFB4B0;

}

#blueBox {
	box-sizing: border-box;
	border: 2px solid black;
	width: 30%;
	height: 400px;
	padding: 10px;
	margin-top: 2%;
	margin-left: 12px;
	background: #4DD7FA;
	float: left;
}

#filterButton {
	text-align: center;
	margin: auto;
}

#theButton {
	height: 30px;
	width: 65%;
	font-size: 15pt;
}

#yellowBox {
	box-sizing: border-box;
	border: 2px solid black;
	width: 485px;
	height: 400px;
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 10px;
	padding-bottom: 10px;
	margin-left: 2%;
	margin-top: 2%;
	float: left;
	background: #FEFAC0;
}


#headList {
	list-style-type: none;
    text-decoration: none;
}

#songName {
	color: #785616;
}

#songInfo {

}

#songLength {

}

#checkLeftSide {
	float: left;
}

#checkRightSide {
	padding-left: 50%;
}
